canvas { margin: 0; overflow: hidden; }

.stage
{
  background: #fff;
  height: 100%;
  background-repeat: repeat-x;
  background-image: url('Fondo.png');
}

.pertsona
{
  z-index: 2;
  background: #ddd;
  width: 150px;
  height: 200px;
  position: absolute;
  background: url('pertsona.png');
}

.bird
{
  z-index: 2;
  background: #ddd;
  width: 17px;
  height: 17px;
  position: absolute;
  background: url('Pelota.png');
}

.arbola
{
  z-index: 2;
  background: #ddd;
  width: 400px;
  height: 400px;
  position: absolute;
  background: url('arbola.png');
}

.area
{
  z-index: 2;
  background: #ddd;
  width: 200px;
  height: 35px;
  position: absolute;
  background: url('area.png');
}

.bandera
{
  z-index: 2;
  background: #ddd;
  width: 200px;
  height: 200px;
  position: absolute;
  background: url('bandera.png');
}

#miCanvas{
  border:solid 1px;
  background-image: url('Fondo.png');
}
